* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.canvas {
    background-size: 100% 100%;
    background-color: #444;
}

.nav {
    width: 350px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: .3;
    transition: opacity .5s;
    z-index: 999;
}

.nav:hover {
    opacity: 1;
}

.clr {
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}

.clr:hover {
    transform: scale(1.2);
}

.clr:nth-child(1) {
    background-color: #000;
}

.clr:nth-child(2) {
    background-color: #EF626C;
}

.clr:nth-child(3) {
    background-color: #fdec03;
}

.clr:nth-child(4) {
    background-color: #24d102;
}

.clr:nth-child(5) {
    background-color: #fff;
}

.slidecontainer {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.slider {
    -webkit-appearance: none;
    width: 350px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 3px;
    background-size: 120px 120px;
    background-color: #03bb56;
    color: #fff;
}

button.option {
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-color: #eee;
}

div.menus {
    position: fixed;
    top: 2px;
    left: 5px;
    width: 156px;
    max-height: 90%;
    opacity: .3;
    transition: opacity .5s;
    overflow-y: auto;
    z-index: 999;
}

div.menus:hover {
    opacity: 1;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    margin-bottom: 5px;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.aoe {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-align: center;
    position: fixed;
    top: 2px;
    left: 170px;
    opacity: .3;
    transition: opacity .5s;
}

.aoe:hover {
    background-color: #ccc;
    opacity: 1;
}

.token {
    size: 300px 300px;
    position: absolute;
    display: flex;
    top: 25%;
    right: 50%;
    background-color: rgba(56, 56, 56, 0.6);
}